@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Fjalla+One&family=Noto+Sans:wght@900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://img.freepik.com/free-vector/flat-design-meal-planner-design_23-2149324899.jpg?w=1060&t=st=1685857438~exp=1685858038~hmac=8a213605f96cc7900fe687240977ea031123f33823f2523878329b03fb94f1d5);
  background-size: cover;
  background-repeat: no-repeat;
}




.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color: rgb(255, 255, 255);
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  /* outline-color: transparent; */
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: rgb(24, 5, 5);
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;
}


.card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  background-color: #f0af95;
  font-family: 'Bree Serif', serif;
}

.card img {
  max-width: 100%;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #ffffff;
}

.cardhead {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  background-color: #387777;
  font-family: "Pacifico", cursive;

}

.cardhead img {
  max-width: 100%;
}

.cardhead h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cardhead p {
  font-size: 14px;
  color: #ffffff;
}


